{% extends "base.html" %}

{% block title %}Comments{% endblock %}

{% block content %}
    <h1>Думки магів</h1>

    <!-- Get the photo ID from the URL and display corresponding comments -->
    {% if photo %}
        <div class="photo-card">
            <img src="{{ photo.url }}" alt="Photo" class="photo-image">
            <p><strong>Опис закляття:</strong> {{ photo.description }}</p>
            <p><strong>Використані заклінання:</strong> {{ photo.tags }}</p>
            <!-- <p><strong>Created At:</strong> {{ photo.created_at }}</p> -->
        </div>
    
    {% else %}
        <p>No photo found with this ID.</p>
    {% endif %}
{% endblock %}