{% extends "base.html" %}

{% block title %}Contacts{% endblock %}

{% block content %}

    <h1>Contact List</h1>
    
    <form action="/contacts" method="get">
        <label for="limit">Limit:</label>
        <input type="number" id="limit" name="limit" value="10" min="1" max="20">
        <br>
        <label for="offset">Offset:</label>
        <input type="number" id="offset" name="offset" value="0" min="0">
        <br>
        <button type="submit">Get Contacts</button>
    </form>

    <!-- Display Contacts -->
    {% if contacts %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Userame</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Birthday</th>
                    <th>Created_at</th>
                    <th>Avatar</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                    <tr>
                        <td>{{ contact.id }}</td>
                        <td>{{ contact.name }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.phone }}</td>
                        <td>{{ contact.birthday }}</td>
                        <td>{{ contact.created_at }}</td>
                        <td><img src="{{ contact.avatar }}" alt="Avatar" width="50" height="50"></td>
                        <td>{{ contact.role }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}