{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Чарівний портал</h1>

    {% if error_message %}
    <p class="error-message">{{ error_message }}</p>
    {% endif %}

    {% if message %}
    <p class="success-message">{{ message }}</p>
    {% endif %}

    <div class="photo-card-wrapper">
        <form action="/login" method="post" class="form-login">
            <label for="name">Совина пошта:</label>
            <input type="text" id="name" name="name" class="form-control" maxlength="50" minlength="3" required><br><br>
            <label for="password">Таємне слово:</label>
            <div class="password-wrapper">
                <input type="password" id="password" name="password" class="form-control" maxlength="50" minlength="5" required>
                <span class="toggle-password" id="toggle-password" onclick="togglePasswordVisibilityLogin()">👁️</button>
            </div><br><br>
            <button type="submit">Відкрити портал</button>
        </form>
    </div>
{% endblock %}