{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Login</h1>

    {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
    {% endif %}

    {% if message %}
    <p style="color: green;">{{ message }}</p>
    {% endif %}

    <form action="/login" method="post" class="form-login">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" class="form-control" required><br><br>
        <label for="password">Password:</label>
        <div class="password-wrapper">
            <input type="password" id="password" name="password" class="form-control" required>
            <span class="toggle-password" id="toggle-password" onclick="togglePasswordVisibility()">👁️</button>
        </div><br><br>
        <button type="submit">Login</button>
    </form>
{% endblock %}