{% extends "base.html" %}

{% block title %}Photos{% endblock %}

{% block content %}

<h1>Чарівні дива</h1>

<!-- Display All Photos -->
<div class="photo-container">
    {% for photo in photos %}
        <div class="photo-card">
            <!-- Display photo and description -->
            <a href="/photo/{{ photo.id }}">
                <img src="{{ photo.url }}" alt="Photo" class="photo-image">
            </a>
            <div class="photo-details">
                <p><strong>Опис закляття:</strong> {{ photo.description }}</p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
