{% extends "base.html" %}

{% block title %}Photos{% endblock %}

{% block content %}

<h1>Чарівні дива</h1>
    <h2>Подробиці дива</h2>
    <div class="photo-card">
        <img src="{{ photo.url }}" alt="Photo" class="photo-image">
        <img src="data:image/png;base64,{{ photo.QR_code | b64encode }}" alt="QR Code" style="width: 100px; height: auto;">
        <div class="photo-details">
            <p><strong>Опис закляття:</strong> {{ photo.description }}</p>
            <p><strong>Використані заклінання:</strong> {{ photo.tags }}</p>
            <p><strong>Час створення дива:</strong> {{ photo.created_at.strftime('%Y-%m-%d %H:%M') }}</p>
            <!-- Comments Section -->
            <h3>Схвальні думки про диво</h3>
            <ul>
                {% for comment in photo.comments %}
                    <li>
                        {{ comment.text }} - <em>{{ comment.username }}</em>
                        <form action="/delete_comment" method="post" style="display:inline;">
                            <input type="hidden" name="comment_id" value="{{ comment.id }}">
                            <input type="hidden" name="photo_id" value="{{ photo.id }}">
                            <button type="submit" class="btn-delete-comment">Видалити</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
            <!-- Add Comment Form -->
            <form action="/add_comment" method="post">
                <input type="hidden" name="photo_id" value="{{ photo.id }}">
                <textarea name="comment" rows="2" placeholder="Add a comment" class="form-control" maxlength="500" required></textarea><br>
                <button type="submit" class="btn-save-comment">Додати думку</button>
            </form>
            <form action="/dell_photo" method="post">
                <input type="hidden" name="photo_id" value="{{ photo.id }}">
                <button type="submit" class="btn-save-comment">Видалити диво</button>
            </form>
        </div>
    </div>

{% endblock %}