{% extends "base.html" %}

{% block title %}My Photos{% endblock %}

{% block content %}

    <h1>Photos</h1>

    <!-- Display All Photos -->
    <div class="photos-container-two">
        {% for photo in photos %}
            <div class="photo-card-two">
                <img src="{{ photo.url }}" alt="Photo" class="photo-image-two">
                <p><strong>Description:</strong> {{ photo.description }}</p>
                <p><strong>Tags:</strong> {{ photo.tags }}</p>
                <p><strong>Created At:</strong> {{ photo.created_at }}</p>
                <!-- Add more details as needed -->
            </div>
        {% endfor %}
    </div>

{% endblock %}
