{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}

    <h1>Обряд посвячення</h1>
    <h1>Обряд посвячення пройдено успішно</h1>
    <p>Деталі вашого статусу мага:</p>
    <ul>
        <!-- <li><strong>User ID:</strong> {{ data.user.id }}</li> -->
        <li><strong>Істинне імʼя:</strong> {{ data.user.name }}</li>
        <li><strong>Совина пошта:</strong> {{ data.user.email }}</li>
        <li><strong>Чарофон:</strong> {{ data.user.phone }}</li>
        <li><strong>Поява на світ:</strong> {{ data.user.birthday }}</li>
        <!-- <li><strong>Created_at:</strong> {{ data.user.created_at }}</li> -->
        {% if data.avatar %}
        <li><strong>:</strong> <img src="{{ data.user.avatar }}" alt="Avatar"></li>
        {% endif %}
        <li><strong>Ранг:</strong> {{ data.user.role }}</li>
        <!-- <form action="/" method="get">
        <button type="submit">Return to Main Page</button>
    </form> -->
    </ul>
<!-- </body>
</html> -->

{% endblock %}
