<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}

    <!-- <title>Registration Failed</title>
</head>
<body> -->

    <h1>Обряд посвячення</h1>
    <p>Обряду посвячення завадила темна магія.</p>
    <p>Очистіть коло обряду, та спробуйте ще раз.</p>
    
    <!-- Кнопка для повернення до форми реєстрації -->
    <!-- <form action="/signup" method="get">
        <button type="submit">Return to Registration</button>
    </form> -->
<!-- </body>
</html> -->
{% endblock %}