<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body> -->

{% extends "base.html" %}

{% block title %}User Registration{% endblock %}

{% block content %}

    <h1>Обряд посвячення</h1>
        <form action="/signup" method="post" class="form-signup">

            <label for="name">Істинне імʼя:</label>
            <input type="text" id="name" name="name" class="form-control" maxlength="50" minlength="3" required><br><br>

            <label for="email">Совина пошта:</label>
            <input type="email" id="email" name="email" class="form-control" required><br><br>

            <label for="password">Таємне слово:</label>
            <div class="password-wrapper">
                <input type="password" id="password" name="password" class="form-control" maxlength="50" minlength="5" required>
                <span class="toggle-password" id="toggle-password" onclick="togglePasswordVisibility()">👁️</button>
            </div><br><br>

            <button type="submit">Посвятити</button>
        </form>
<!-- </body>
</html> -->
{% endblock %}