<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User unauthorized</title>
</head>
<body> -->

{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}

    <h1>Registration Failed</h1>
    <p>Visit your mailbox and confirm your registration.</p>
    
    <!-- Кнопка для повернення до форми реєстрації -->
    <form action="/login" method="get">
        <button type="submit">Return to login</button>
    </form>
<!-- </body>
</html> -->
{% endblock %}