{% extends "base.html" %}

{% block title %}Upload Photo{% endblock %}

{% block content %}

<h1>Заміна відображення</h1>

<!-- Photo Upload Form -->
<form id="updateAvaForm" action="/update_avatar" method="post" enctype="multipart/form-data">
    <!-- <label for="photo">Оберіть відображення:</label><br> -->

    <input type="file" class="file-upload-input" id="photo" name="photo" accept="image/*" required />
    <label for="photo" class="file-upload-label">Оберіть відображення</label>

    <button type="submit">Змінити відображення</button>
</form>


{% endblock %}
