{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}

    <h1>Список чарівників</h1>
    
    <form action="/users" method="get" class="form-users">
        <label for="limit">Ліміт:</label>
        <input type="number" id="limit" name="limit" value="10" min="1" max="20" class="form-control">
        <br>
        <label for="offset">Пропустити:</label>
        <input type="number" id="offset" name="offset" value="0" min="0" class="form-control">
        <br>
        <button type="submit">Показати чарівників</button>
    </form>

    <!-- Display Users -->
    {% if users %}
        <table class="users-table">
            <thead>
                <tr>
                    <!-- <th>ID</th> -->
                    <th>Істинне імʼя</th>
                    <th>Совина пошта</th>
                    <th>Чарофон</th>
                    <th>Поява на світ</th>
                    <!-- <th>Created_at</th> -->
                    <th>Відображення</th>
                    <th>Ранг</th>
                    <th>Активувати</th>  <!-- Додано новий стовпчик для дій -->
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <!-- <td>{{ user.id }}</td> -->
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.birthday }}</td>
                        <!-- <td>{{ user.created_at }}</td> -->
                        <td><img src="{{ user.avatar }}" alt="Avatar" width="50" height="50"></td>
                        <td>{{ user.role }}</td>
                        <td>
                            <form action="/role" method="post" class="form-block">
                                <input type="hidden" name="user_id" value="{{ user.id }}">
                                <select name="role">
                                    <option value="user" {% if user.role == 'user' %}selected{% endif %}>Маг 1 колу</option>
                                    <option value="moderator" {% if user.role == 'moderator' %}selected{% endif %}>Маг 2 колу</option>
                                    <option value="admin" {% if user.role == 'admin' %}selected{% endif %}>Маг 3 колу</option>
                                </select>
                                <button type="submit" class="btn-save">Save</button>
                            </form>
                            <!-- Форма для блокування користувача -->
                            <form action="/ban" method="post" class="form-block">
                                <input type="hidden" name="user_id" value="{{ user.id }}">
                                <select name="isbanned">
                                    <option value="banned" selected>заблокувати </option>
                                    <option value="unbanned" selected>розблокувати</option>
                                </select>
                                <button type="submit" class="btn-block">Блокування</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
