{% extends "base.html" %}

{% block title %}User Details{% endblock %}

{% block content %}

    <h1>User Details</h1>

    <!-- Display Single User -->
    {% if user %}
        <div class="user-details">
            <!-- Avatar -->
            <div class="avatar-container">
                <img src="{{ user.avatar }}" alt="Avatar" class="photo-profile">
            </div>

            <!-- User Details -->
            <div>
                <table>
                    <tbody>
                        <!-- <tr>
                            <th>ID:</th>
                            <td>{{ user.id }}</td>
                        </tr> -->
                        <tr>
                            <th>Username:</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>Phone:</th>
                            <br />
                            <td>{{ user.phone }}</td>
                        </tr>
                        <tr>
                            <th>Birthday:</th>
                            <td>{{ user.birthday }}</td>
                        </tr>
                        <!-- <tr>
                            <th>Created At:</th>
                            <td>{{ user.created_at }}</td>
                        </tr> -->
                        <tr>
                            <th>Role:</th>
                            <td>{{ user.role }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Buttons -->
        <div class="buttons">
            <a href="/edit_user"><button>Edit User</button></a>
            <!-- <a href="/my_photos"><button>My Photos</button></a> -->
            <a href="/upload_photo"><button>Upload Photo</button></a>
            <a href="/update_avatar"><button>Update Avatar</button></a>
            <a href="/logout"><button class="btn-block">Unnigilaciya</button></a>
        </div>

    {% else %}
        <p>No user details available.</p>
    {% endif %}

{% endblock %}
